body {
    background-image: url("https://redew.com.br/imagens/background-parallax-redes-sociais.jpg");
   background-size: auto 100vh;
    font-family: Comic Sans MS;
   height: 100vh;
 }
 
 .menu {
    background-color: white;      
 }
 
 .menu ul {
   display: flex;
   justify-content:space-around;
 }
 
 .menu li {
   list-style: none;  
 }
 
 a {
   color: Black;
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
 .site-subtitle,
 .site-title {
   color: black;
   text-align: center;
 }
 
 
 .site-subtitle {
   font-style: Comic sans;